<!DOCTYPE html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>
  <%= htmlWebpackPlugin.options.title %>
</title>
<div class="heading">
  <h1 class="heading__name">Spookmarks</h1>
  <h2 class="heading__strapline">👻 + 🔖 = Bookmarking for Phantoms</h2>
</div>
<form class="form js--form">
  <input class="form__link js--link"type="text" placeholder="Add a link!">
  <input class="form__title js--title" type="text" placeholder="Add a Title! (optional)">
  <input class="form__button form__button" type="submit" value="+" title="Add bookmark">
</form>
<div class="list js--list"></div>
<div class="js--pager pager"></div>