.form {
  max-width: 800px;
  margin: 0 auto 20px;
  background: #e0ddd7;
  padding: 20px 30px;
  box-shadow: 0 4px 8px #e7e4de4d, 4px 0px 8px #e7e4de4d, -4px 0px 8px #e7e4de4d;
  @include tablet {
    padding: 40px 60px;
    margin: 0 auto 60px;
  }
  @include desktop {
    max-width: 1200px;
    margin: 0 auto 120px;
  }
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
      "link button"
      "name button"; 
  }
}

@mixin field() {
  width: 100%;
  text-align: center;
  border: 0;
  background: #c9c6c6;
  transition: background 0.4s ease-in-out;
  &:focus,
  &:hover {
    background: lighten(#c9c6c6, 2%);
  }
  &:focus {
    outline: 1px dotted;
  }
}

.form__link {
  @include field;
  padding: 20px 10px;
  margin: 0 0 3px;
  font-size: 1.5rem;
  @include tablet {
    font-size: 3rem;
  }
  @supports (display: grid) {
    grid-area: link;
  }

}

.form__title {
  @include field;
  padding: 10px 5px;
  border: 0;
  font-size: 1.3rem;
  @include tablet {
    font-size: 2rem;
  }
  @supports (display: grid) {
    grid-area: name;
  }
}

.form__button {
  border: 0;
  padding: 0 15px;
  cursor: pointer;
  background: $highlight-colour;
  background: radial-gradient(ellipse at center, $highlight-colour, darken($highlight-colour, 5%));
  border: 0;
  margin-left: 3px;
  font-size: 4rem;
  @supports (display: grid) {
    grid-area: button;
  }
  @include tablet {
    font-size: 9rem;
  }
}