.edit {
  width: 100%;
  background: linear-gradient(180deg, #2a2c29, #2e322e);
  padding: 10px 0;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-template-areas: 
      "link button"
      "name button"; 
  }
}

.edit__link {
  font-size: 1.5rem;
  input {
    padding: 12px;
    border: 0;
    margin: 0 0 3px;
    min-width: 240px;
    width: 100%;
    &:focus {
      outline: 1px dotted;
    }
  }
  @supports (display: grid) {
    grid-area: link;
  }
  @include tablet {
    display: flex;
    align-items: center;
    input {
      margin: 0 0 3px 5px;
    }
  }
}

.edit__title {
  font-size: 1.5rem;
  input {
    padding: 6px 12px;
    border: 0;
    min-width: 240px;
    width: 100%;
  }
  @supports (display: grid) {
    grid-area: name;
  }
  @include tablet {
    display: flex;
    align-items: center;
    input {
      margin: 0 0 0 5px;
    }
  }
}

.edit__button {
  border: 0;
  text-transform: uppercase;
  padding: 0 15px;
  cursor: pointer;
  background: $highlight-colour;
  background: radial-gradient(ellipse at center, $highlight-colour, darken($highlight-colour, 5%));
  margin: 0 0 0 3px;
  font-size: 5rem;
  @supports (display: grid) {
    grid-area: button;
  }
  @include tablet {
    padding: 0 30px;
  }
}