@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// #cd6a51 orange

body {
  // https://stackoverflow.com/a/38781315/2368141
  font-family: 'Roboto Mono', monospace, monospace;
  font-size: 2rem;
  background: $background-colour;
  color: $primary-colour;
}


a {
  &:visited {
    color: inherit;
  }
}


