@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b99f6a;
  margin: 40px 0 60px;
  @include desktop {
    margin: 40px 0 120px;
  }
}

.heading__name {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 0 10px;
  font-family: 'Permanent Marker', 'Roboto Mono', monospace, monospace;
  animation: pulse ease-in-out 2s infinite alternate; 
  a {
    text-decoration: none;
    color: $highlight-colour;
  }
  @include tablet {
    font-size: 6rem;
  }
  @include laptop {
    font-size: 8rem;
  }
  @include desktop {
    font-size: 12rem;
  }
}

@keyframes pulse {
  from {
    text-shadow: 0 1px 12px rgba(255, 152, 0, 0.3);
  }
  to {
    text-shadow: 0 4px 16px rgba(255, 152, 0, 0.6);    
  }
}

.heading__strapline {
  font-weight: 400;
  margin: 0;
  color: #e49d33;
  font-size: 2rem;
  text-align: center;
  animation: pulse ease-in-out 2s infinite alternate;
  @include laptop {
    font-size: 3rem;
  }
  @include desktop {
    font-size: 4rem;
  }
}