.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #2a2c29;
  margin: 0 0 20px;
  transition: box-shadow 0.4s;
  box-shadow: 0 2px 8px rgba(214, 144, 0, 0.2);
  @include tablet {
    margin: 0 0 40px;
  }
  &:hover {
    box-shadow: 0 4px 12px rgba(214, 144, 0, 0.2), 4px 4px 16px rgba(214, 144, 0, 0.2), -4px 4px 16px rgba(214, 144, 0, 0.2);
    .link__a {
      text-shadow: 0 1px 8px rgba(255, 152, 0, 0.6);
    }
  }
}

.link__a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: $highlight-colour;
  text-shadow: 0;
  transition: text-shadow 0.4s;
  @include tablet {
    font-size: 3rem;
    padding: 20px 40px;
  }
  @include laptop {
    font-size: 4rem;
  }
  @include laptop {
    font-size: 6rem;
  }
  &:visited {
    color: $highlight-colour;
  }
  
}

.link__delete {
  cursor: pointer;
  margin: 0 5px 20px;
  background: transparent;
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid;
  color: tomato;
  padding: 0;
}

.link__edit {
  cursor: pointer;
  margin: 0 5px 20px;
  background: transparent;
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid;
  padding: 0;
  color: DarkCyan;
}
